@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #FFFFFF;    //基本の色
$subColor: #ed9c1a;  //サブ#bea300; 
$keyColor: #eabf4c;   //アクセントカラー
$fontColor: #4f616f;    //文字色#4c4c4c; 


/* Base
------------------------------------------------------------*/
html{ font-size: 62.5%; }

body{
  color: $fontColor;
  font-size: 1.4rem;
  font-family:$baseFontFamily;
  line-height:1.6;
  letter-spacing: 0.1em; 
  background-color: $baseColor;
}

a {
  @include link-colors($keyColor, darken($keyColor, 10%), lighten($keyColor, 5%), darken($keyColor, 10%));
  text-decoration: none;
   //文字の装飾 装飾なし （下線を消す）
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center;
    //行揃えの位置や、均等割付
}

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif;
}
.uppercase {
  text-transform: uppercase;
}

// desktop
@media (min-width: 769px) {
  //表示サイズが769px以上なら769pxを最小値として表示させる

  /* Base
  ------------------------------------------------------------*/
  a {
    &:hover {
      text-decoration: underline;
      //テキストに下線を引く
    }
  }
}//min-width: 769px
/*Header
------------------------------------------------------------*/
header {
  .images{
  background-image: url("images/himawari.jpg");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  } //images
}// header

 @media (min-width: 769px){   //背景画像 PC表示では横幅100％、高さ500px
  header {
    .images{
       height: 500px; 
    }
  } // min-width: 769px
}

/*main------------*/

section {
  margin-bottom: 5px;
  padding: 20px 20px;
  background-color: $keyColor;
  
  .container {
    width: 90%;
    @extend .block-center;
  }
  h1 {
    margin: 0;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    @extend .abel;
    font-size: 1.5rem;
    @extend .uppercase;
    text-align: center;
  }

.box1 {
    @include flex(1);
    margin-right: 10px;                     // 右にマージン
    margin-left:　10px;                    // 左にマージン
    padding: 20px;
   margin: 20px;
    background-color: $baseColor;
    @include border-radius(4px);          //角丸
    @include box-sizing(border-box);
    text-align: center;
  }
  
  h2 {
       text-align: center;
    @extend .abel;
    font-size: 2.2rem;
    color: $fontColor;
    text-align: center;
    text-decoration: underline;    // アンダーライン
    margin-bottom: 5px;
  }
}  // section

/*-----ボタンのところ---*/
  //section 
    #botton {
    padding: 10px 0;
  background-color: $keyColor;
    }  
  .botton-natsu {
          margin: auto;
          text-align: center;
          padding: 5px 0;
          width: 50%;
          display: block;
          color: $keyColor;
          background-color: $baseColor;
          @extend .abel;
          @extend .uppercase;
          @include border-radius(4px);
          font-size: 1rem;
        }//button-natsu

// desktop
@media (min-width: 1025px) {
    #box{
      .container{
    @include display-flex;
      @include flex-direction(row);   // スキルボックスを横に並べる
      justify-content: space-between;
      }
    .box1{
      margin: 0 10px;                   
    }
    }  // #container
} // min-width: 1025px


footer {
  .text {
    margin: auto;
    text-align: center;
  background-color: $keyColor;
  padding: 0px 0;
 font-size: 1rem;
  color: #FFF;
}
}  // footer
// desktop
@media (min-width: 1025px) {
  
}


  